@font-face {
    font-family: 'Bebas Neue';
    src: url("../font/BebasNeue.otf") format("opentype");
    font-style: normal;
}

html, body {
  font-family: 'Bebas Neue';
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

canvas {
  border:none;
}

#phaser-ads {
  position: absolute;
  margin-left: -120px;
  overflow: hidden;
  top: 0;
  left: 50%;
  z-index: 1;
}

#phaser-game {
  position: relative;
  z-index: 0;
}

iframe[id^="vmx-frameInt_"] {
 /* @if environment != 'jio' */
 position: relative;
 top: 26px;
 /* @endif */
 background-color: black;
}

iframe[id^="iframe-ads"] {
  /* @if environment != 'jio' */
  position: relative;
  /*top: 26px;*/
  border: none;
  /* @endif */
}

.holds-the-iframe {
  display: none;
  background:url(../../assets/loading.png) center center no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: black;
}
